---
name: Build and Publish With Podman+Task
permissions: read-all
on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Task
        run: |
          sh -s -- -b ~/.local/bin < <(curl -s https://taskfile.dev/install.sh)
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Podman login
        run: >
          echo "${GHCR_TOKEN}" |
          podman login ghcr.io -u "${GHCR_USERNAME}"
          --password-stdin
        env:
          GHCR_USERNAME: ${{secrets.GHCR_USERNAME}}
          GHCR_TOKEN: ${{secrets.GHCR_TOKEN}}
     
      - name: Podman info
        run: podman info

      - name: Build & push
        run: task build-all && task push-all
